In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as po
import plotly.express as px
import plotly.graph_objs as go

from counlist import countrylist

unemployment = pd.read_csv("..\\documentation\\unemployment_all_ratio.csv")


unemp = unemployment.loc[unemployment["Country"].isin(countrylist)]                              

unemp = unemp.loc[unemployment['Series'] == "Unemployment rate"]      
               
unemp = unemp[~unemp.Country.str.contains("Euro")]                                     
unemp = unemp[~unemp.Country.str.contains("Spain")]  

unemp = unemp.rename(columns={'SEX': 'Gender', 'Value':'Unemploy_Rate', "Time": "Year"})         
unemp = unemp[['Country', 'Gender', 'Age', 'Year', 'Unemploy_Rate']]                             

unemp.columns = [x.lower() for x in unemp.columns]                                               
unemp = unemp[unemp['year'] <= 2016]                                                                                      

unemp.drop(unemp[unemp.gender == 'MW'].index, inplace=True)                                                        
unemp.loc[unemp['gender'] == "MEN", 'gender'] = "male"                                           
unemp.loc[unemp['gender'] == "WOMEN", 'gender'] = "female"                                                     

unemp['age'] = unemp['age'].str.replace(' to ', '-')                                            


unemp = unemp[(unemp['age'] == '15-24') | (unemp['age'] == '25-34') |(unemp['age'] == '35-44') |(unemp['age'] == '45-54') | (unemp['age'] == '55-64') |(unemp['age'] == '65-69') | (unemp['age'] == '70-74')]

(58402, 21)
(58402, 21)

In [2]:
unemp.shape

(0, 5)

In [3]:
unemp.loc[(unemp["age"] == '35-44') | (unemp["age"] == '45-54'), 'age'] = '35-54'                                   
unemp.loc[(unemp["age"] == '55-64') | (unemp["age"] == '65-69') | (unemp["age"] == '70-74'), 'age'] = "55-74"

In [4]:
aggregation_functions = {'unemploy_rate': 'mean'}

In [5]:
unemp_ages_mean = unemp.groupby('age').aggregate(aggregation_functions).sort_values("unemploy_rate", ascending=False).round(2)
unemp_ages_mean

Empty DataFrame
Columns: [unemploy_rate]
Index: []

In [6]:
unemp_countries_mean = unemp.groupby('country').aggregate(aggregation_functions).sort_values("unemploy_rate", ascending=False).round(2)
unemp_countries_mean

Empty DataFrame
Columns: [unemploy_rate]
Index: []

In [7]:
most_unemp = unemp_countries_mean.sort_values("unemploy_rate", ascending=False).round(2).head(5)
least_unemp = unemp_countries_mean.sort_values("unemploy_rate", ascending=False).round(2).tail(5)

In [8]:
print(most_unemp)
print(least_unemp)

Empty DataFrame
Columns: [unemploy_rate]
Index: []
Empty DataFrame
Columns: [unemploy_rate]
Index: []

In [9]:
unemp_pivot_mean_gndr = pd.pivot_table(unemp, index = ['country', 'year', 'gender'], values = ['unemploy_rate']).round(2)
unemp_pivot_mean_gndr

Empty DataFrame
Columns: []
Index: []

In [10]:
unemp_pivot_mean = pd.pivot_table(unemp, index = ['country', 'year'], values = ['unemploy_rate']).round(2)
unemp_pivot_mean

Empty DataFrame
Columns: []
Index: []

In [11]:
sp_un = unemp_pivot_mean_gndr.loc["Spain"]                   #unemployment evolution in Spain per gender : tendency is to equal
sp_un

KeyError: 'Spain'

In [12]:
nw_un = unemp_pivot_mean.loc["Norway"]
nw_un

      unemploy_rate
year
2000           3.57
2001           3.53
2002           3.15
2003           3.58
2004           3.46
2005           3.67
2006           2.94
2007           2.21
2008           2.12
2009           2.91
2010           3.04
2011           2.73
2012           2.59
2013           2.83
2014           2.86
2015           3.50
2016           3.89

In [13]:
sa_un = unemp_pivot_mean.loc["South Africa"]
sa_un

      unemploy_rate
year
2001          22.99
2002          24.65
2003          24.74
2004          22.58
2005          21.89
2006          20.64
2007          20.59
2008          18.43
2009          19.37
2010          20.39
2011          20.22
2012          20.63
2013          20.66
2014          20.90
2015          21.24
2016          22.27

In [14]:
unemp_age_group = unemp.groupby(['gender']).mean().round(2)
unemp_age_group

           year  unemploy_rate
gender
female  2008.12           7.44
male    2008.10           7.02